body{
	background:#f7f7f7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#5e6d66;
}

.container{
	background:white;
	max-width:960px;
	margin:60px auto;
	-webkit-box-shadow: 0px 0px 30px 0px #999;
	box-shadow: 0px 0px 30px 0px #999;
}

.site-title{
	background:#7bc144;
	text-align:center;
	padding:70px 0;
}

	.site-title p{
		color:white;
		font-size:24px;
		text-transform:uppercase;	
		margin:0px;	
	}

	.site-title strong{
		font-size:100px;
		font-family:"Times New Roman", Times, serif;	
		font-weight:normal;		
		text-transform:none;
	}
	
	
nav{
	background:#3b6a26;
}
	
	nav ul{
		padding:0px;
		margin:auto;
		list-style:none;
		max-width:70%;
		overflow:auto;
	}
	
	nav li{
		float:left;
	}
	
	nav a{
		color:white;
		text-decoration:none;
		display:block;
		padding:15px 40px;
	}
	
	nav a:hover{
		background:#7bc144;
	}
	

.main-content{
	padding:30px 30px 30px 30px;
	overflow:auto;
	line-height:24px;
}

	.main-content h1,
	.main-content h2,
	.main-content h3{
		font-family:"Times New Roman", Times, serif;
		font-weight:normal;
		color:#3b6a26;
		text-transform:uppercase;
	}
	
	.main-content h1{
		font-size:36px;
		text-align:center;
	}
	
	.main-content a{
		color:#3b6a26;
	}
	
	.main-content .cta{
		color:white;
		padding:10px 60px;
		background:#7bc144;
		text-decoration:none;
		display:block;
		width:160px;
		margin:30px auto 60px auto;
		text-align:center;
	}
	
	.main-content .cta:hover{
		background:#50921c;
	}

footer{
	background:#5e6d66;
	padding:40px 30px;
	overflow:auto;
}

	footer p{
		font-size:14px;
		color:white;
		padding-top:10px;
	}
	
	footer img{
		float:right;
		padding-left:10px;
	}

/* General Items */


img{
	max-width:100%;
	height:auto;
}

.center{
	text-align:center;
}

.floatleft{
	float:left;
}

.floatright{
	float:right;
}

.extrapadding{
	padding:0 60px;
}

.paddingbottom{
	padding-bottom:40px;
}

/* Comment - Portfolio (optional section) */

.portfolio{
	padding:0px;
	margin:0px;
	list-style:none;
	overflow:auto;
}

	.portfolio a{
		float:left;
		margin:10px;
		-webkit-box-shadow: 0px 0px 5px 0px #999;
		box-shadow: 0px 0px 5px 0px #999;
	}
	
	.portfolio a:hover{
		-webkit-box-shadow: 0px 0px 10px 0px #555;
		box-shadow: 0px 0px 10px 0px #555;
	}